# Python stuff
*.pyc
# ignore .venv but also .venv39, etc
.venv*
.python-version

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Visual Studio Code configuration
.vscode

#Environment secrets
.env

# Allows me to have some scratch space in a git repo that won't get commited
.scratch